body {
    font: 16px;
    background-color: var(--light);
}
/**** header *****/
.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    height: 8vh;
    padding: 2.5%;
    background-color: none;
    cursor: pointer;
    top: 0;  
}
/**** frontpage *****/
.frontpage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top:0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    color: var(--light);
    background-image: url('../assets/img/frontpage-img.jpg');
    background-size: cover;  
}   
.frontpage__title {
    font-size: 5.5em;
    margin-top: 5%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';
}
.frontpage__quote {
    font-size: 2em;
    font-family: var(--main);
}
.frontpage__arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2%;
    cursor: pointer;
}
/**** frontpage preview *****/
.preview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 3%;
}
.preview__section {
    display: flex;
    width: 40%;
    height: 45%;
    border: 2px solid rgb(248, 248, 237);
    border-radius: 50px;
    background-color: white;
}
.preview__section:hover {
    transform: scale(1.03);
}
.preview__img {
    height: 100%;
    width: 35%;
    border-radius: 50px;
}
.preview__text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--preview);  
    padding: 10%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.preview__description {
    font: 0.8em;
    padding: 1.2%;
}
.preview__button {
    background: none;
    font-size: 1.3em;
    color: var(--preview);
    border: 1.9px solid var(--preview);
    padding: 2% 4% 2% 4%;
    border-radius: 15px;
    cursor: pointer;
}

/**** Clothes page *****/
.clothes {
    width: 100vw;
    height: auto;
}
.clothes__header {
    display: flex;
    height: 50vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    color: var(--light);
    background-image: url('../assets/img/golden.jpg');
    background-size:100%;
}
.clothes__arrow {
    display: flex;
    align-items: center;
    position: absolute;
    color: var(--light);
    font-size: 1.4em ;
    padding: 20px;
    font-family: arial;
    width: 30%;
}
.clothes__arrow p {
    margin-left: 10%;
}
.clothes__arrow::before {
    content: '';
    display: block;
    background-image: url('../assets/icon/arrow.png');
    background-size: cover;
    position: absolute;
    height: 30px;
    width: 30px;
} 
.clothes__arrow:hover {
    text-decoration: underline 1px solid var(--light);
}
.clothes__cart {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2%;
    cursor: pointer;
}
.clothes__headline {
    font-size: 5em;
    margin-left: 5%;
}
.clothes__text {
    padding-top: 1%;
    padding-left: 2%;
    font-size: 2.3em;
}
.clothes__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    width: 80vw;
    height: 150vh;
    margin: 0 auto;
    margin-top: 7%;
}
.clothes__product {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.clothes__product:hover {
    border: 2px solid rgb(56, 56, 56);
}
.clothes__img {
    height: 75%;
    width: 65%;
}
.clothes__title {
    font-size: 1.8em;
}
.clothes__description {
    font-size: 1.4em;
}
.clothes__price {
    font-size: 1.3em;
}


/**** footer*****/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: rgb(75, 74, 74);
    color:var(--light);
    font-family: arial;
    padding: 1%;
}
.footer__item {
    width: 100%;
    height: 100%;
    border: 1px rgb(109, 79, 79) solid;
}
.footer__title {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-family: var(--main);
}
.footer__pages {
   
}
