body {
    font: 16px;
    background-color: var(--light);
}

/**** shoppingbag *****/
.shoppingbag {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: var(--light);
    text-align: center;

}
.shoppingbag--display {
    visibility: hidden;
}

.shoppingbag__container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 39vw;
    margin-top: 6%;
    border: 2px solid var(--dark);
    position: relative;
}

.shoppingbag__productContainer {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.shoppingbag__headline {
    font-size: 2em;
    margin-left: -60%;
    text-decoration: underline 2px solid;
    font-weight: normal;
    padding: 5%;
}

.shoppingbag__quantityContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100px;
    font-size: 1em;
    padding: 0.6em;
    border: 1px solid black;
    border-radius: 2px;
}

.shoppingbag__increase, .shoppingbag__decrease {
    font-size: 1.2em;
    background-color: var(--ligh);
    border: none;
    cursor: pointer;
}

.shoppingbag__remove {
    font-size: 0.8em;
    background: none;
    border: none;
    cursor: pointer;
}

.shoppingbag__remove:hover {
   text-decoration: underline 2px solid;
}

.shoppingbag__product {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
    border-bottom: 0.5px solid var(--dark);
    font-family: var(--sans-serif);
    font-size: 1.4em;
}

.shoppingbag__product img {
    height: 100%;
}

.shoppingbag__totalContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-family: var(--second);
    font-size: 1.3em;
    padding: 5%;
}

.shoppingbag__total {
    font-size: 2em;
    padding-left: 0.2em;
}

.shoppingbag__emptyAlert {
    display: none;
    font-size: 1.5em;
    font-family: var(--serif);
    padding-top: 10%;
    
}

/**** header *****/
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 15vh;
    padding: 1.2%;
    cursor: pointer;
    z-index: 1;
    top: 0;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    color: var(--dark);
    margin-left: 3%;;
}

.header__text {
    color: var(--dark);
    text-decoration: none;
    font-family: var(--serif);
    font-size: 1.3em;
}

.header__text--large {
    font-size: 1.6em;
    font-family: var(--serif);

}

.header__shoppingbag img {
    width: 32%;
    height: 52%;
    margin-left: 27%;
}

.header__totalProducts {
    font-size: 2em;
    position: absolute;
    padding-left: 0.5em;
    color: var(--dark);
}

/**** search section *****/
.search__sidebar {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40vw;
    background-color: var(--dark);
    padding-top: 6em;
}

.search__button {
    border: none;
    background: none;
    padding-left: 1.5em;
    cursor: pointer;
}

.search__label {
    color: var(--dark);
    text-decoration: none;
    font-family: var(--serif);
    font-size: 1.3em;
}

.search__back {
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 13%;
    padding: 1em;
}

.search__inputContainer {
    width: 70%;
    display: flex;
}

.search__input {
    width: 100%;
    height: 80%;
    padding: 10px;
    border-radius: 4px;
}

.search__productContainer {
    width: 100%;
    margin-top: 1em;
    background-color: var(--dark);
    color: var(--light);
    overflow: scroll;
}

.search__productCard {
    display: flex;
    height: 60%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid;
    padding-left: 5em;
}

.search__productCard:hover {
    background-color: var(--light);
    color: var(--dark);
}

.search__title {
    font-size: 1.2em;
    font-weight: bold;
}

.search__description {
    font-family: var(--sans-serif);
    font-style: italic;
    padding: 0px 10px 0px 10px;
}

.search__img {
    width: 20%;
    height: 100%;
}

.search__message {
    text-align: center;
    font-size: 1.5em;
    font-family: var(--sans-serif);
    color: var(--light);
    padding: 20px 40px 0px 0px;

}

/**** frontpage *****/
.frontpage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    color: var(--dark);
    background-image: url('../assets/doodle.jpg');
    background-size: cover;  
}   

.frontpage__title {
    font-size: 5.3em;
    margin-top: 20%;
    margin-left: -45%;
}

.frontpage__quote {
    font-size: 1.8em;
    font-family: var(--main);
    margin-left: -45%;
}

.frontpage__arrow {         /* add animation jump up and down */
    height: 100px;
    width: 100px;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-left: -4%;
    cursor: pointer;
}

/**** frontpage preview *****/
.preview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 3%;
}

.preview__section {
    display: flex;
    width: 42%;
    height: 65%;
    border: 1px solid rgb(184, 178, 178);
    border-radius: 20px;
    background-color: var(--light);
}

.preview__section:hover {
    transform: scale(1.01);
}

.preview__img {
    height: 100%;
    width: 40%;
    border-radius: 20px;
}

.preview__text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--dark);  
    padding: 15%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.preview__text h2 {
    font-size: 2.2em;
}

.preview__text p {
    font-size: 1.3em;
    text-align: center;
}

.preview__link {
    background: none;
    font-size: 1.4em;
    color: var(--dark);
    border: 1.9px solid var(--dark);
    padding: 3% 6% 3% 6%;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.preview__link:hover {
    color: var(--light);
    background-color: var(--dark)
}

/**** PRODUCTS *****/
.product {
    width: 100vw;
    height: auto;
}

.product__header {
    display: flex;
    height: 50vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    color: var(--light);
    background-image: url('../assets/golden.jpg');
    background-size:100%;
}

.product__header--accessories {
    display: flex;
    height: 50vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    color: var(--dark);
    background-image: url('../assets/terrier.jpg');
    background-size:100%;
}

.product__bag img {
    margin-left: 20%;
}

.product__bag p {
    color: var(--light);
    text-align: center;
}

.product__bag {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2%;
    cursor: pointer;
}
.product__headline {
    font-size: 5em;
    margin-left: 5%;
}

.product__text {
    padding-top: 1%;
    padding-left: 2%;
    font-size: 2.3em;
}

.product__clothes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    width: 80vw;
    height: 160vh;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 8%;
}

.product__accessories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    width: 80vw;
    height: 160vh;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 8%;
}

.product__item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--dark);
    border-radius: 10px;
    padding: 1.5%;
}

.product__img {
    height: 75%;
    width: 65%;
}

.product__title {
    font-size: 1.8em;
}

.product__description {
    font-size: 1.4em;
}

.product__price {
    font-size: 1.3em;
}

.product__add-to-bag {
    width: 38%;
    height: 5.6%;
    font-size: 1.2em;
    background: none;
    color: var(--light);
    border: 1px solid rgb(46, 36, 25);
    background-color: rgb(46, 36, 25);
    border-radius: 2px;
    margin-top: 1%;
}

.product__add-to-bag:hover {
    color: var(--light);
    background-color:rgb(109, 86, 59);
    border: 1px solid rgb(109, 86, 59);
}

/**** footer*****/
.footer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 23vh;
    background-color: var(--dark);
    color:var(--light);
    font-family: var(--sans-serif);
    padding-right: 3em;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;   
}

.footer__title {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-family: var(--serif);
    padding: 2%;
}

.footer__pages, .footer__contact {
   font-size: 1.4em;
}

.footer__text {
    color: var(--light);
    text-decoration: none;
    font-size: 1.2em;
 }
