:root {
    --dark: rgb(46, 36, 25);
    --light: #f1ebde;
    --serif: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --sans-serif: 'arial';
}